body {
  text-align: center;
  background-color: white;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
}

main {
  margin: auto;
  max-width: 24rem;
}

canvas {
  width: 100%;
}

label.picture-select {
  margin: 0.4em 0;
}

label.picture-select input {
  display: none;
}

form, form input {
  text-align: right;
  font-size: large;
  line-height: 1.5em;
}

label {
  display: block;
}

form > div {
  display: flex;
  justify-content: space-between;
}

form > div > label:not(.secondary) {
  flex: 1;
}

form label, form input {
  border-radius: 2px;
  padding: 0.2em;
}

form input {
  vertical-align: middle;
  cursor: pointer;
}

footer {
	font-size: small;
	color: rgba(0, 0, 0, 0.33);
}

footer a {
	color: inherit;
	text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active {
	color: black;
	text-decoration: underline;
}

.save-canvas,
.alt-save-canvas,
.picture-select {
  text-decoration: none;
  background-color: #C86651;
  color: #EEE;
  /*font-size: 1.2em;*/
  padding: 0.4em 0.2em;
  display: block;
  cursor: pointer;
}

.alt-save-canvas {
  font-size: small;
  background-color: #E7E7E7;
  color: #777777;
}

.save-canvas:hover,
.save-canvas:focus,
.picture-select:hover,
.picture-select:focus {
  background-color: #C94E34;
  color: white;
}
.alt-save-canvas:hover,
.alt-save-canvas:focus {
  background-color: #DADADA;
  color: #484848;
}